
/ZooShopRest/ZooShop.Api/obj
/ZooShopRest/ZooShop.Infrastructure/obj
/ZooShopRest/ZooShop.Api/obj

/obj
/bin

ZooShopRest/ZooShop.Api/bin/
ZooShopRest/ZooShop.Api/obj/
ZooShopRest/ZooShop.Api.Test.Integration/bin/
ZooShopRest/ZooShop.Api.Test.Integration/obj/
ZooShopRest/ZooShop.Application/bin/
ZooShopRest/ZooShop.Application/obj/
ZooShopRest/ZooShop.Domain/bin/
ZooShopRest/ZooShop.Domain/obj/
ZooShopRest/ZooShop.Infrastructure/bin/
ZooShopRest/ZooShop.Infrastructure/obj/
ZooShopRest/ZooShop.Test.Common/bin/
ZooShopRest/ZooShop.Test.Common/obj/
ZooShopRest/ZooShop.Test.Data/bin/
ZooShopRest/ZooShop.Test.Data/obj/